/* color palette: https://colorhunt.co/palette/fff5c2f4f27e6db9ef3081d0 
  https://colorhunt.co/palette/c5fff896efff5fbdff7b66ff
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Varela Round", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #c5fff8;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 500px;
  width: 500px;
  margin-top: 100px;
  border-radius: 20px;

  background-color: #96efff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-section h1 {
  color: #7b66ff;
  font-size: 3rem;
  text-align: center;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 100px;
}

.button-section button {
  margin-bottom: 25px;
  width: 200px;

  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  background-color: #5fbdff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#play-btn,
#instruction-btn {
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}

#play-btn:active {
  color: rgb(255, 255, 255, 0.7);
  background-color: #3081d0;
}

#instruction-btn:active {
  color: rgb(255, 255, 255, 0.7);
  background-color: #3081d0;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  body {
    padding: 15px;
  }

  .main-container {
    padding: 10px;
  }
}
