/* color palette: https://colorhunt.co/palette/fff5c2f4f27e6db9ef3081d0 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Varela Round", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff5c2;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 600px;
  width: 600px;
  margin-top: 100px;
  border-radius: 20px;

  position: relative;

  background-color: #f4f27e;

  box-shadow: 10px 10px 31px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 31px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 31px -1px rgba(0, 0, 0, 0.5);
}

.header-section h1 {
  color: #3081d0;
  font-size: 3rem;
  text-align: center;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 100px;
}

.button-section button {
  margin-bottom: 25px;
  width: 200px;

  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  background-color: #6db9ef;
}

#play-btn,
#instruction-btn {
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}

#play-btn:active {
  color: rgb(255, 255, 255, 0.7);
  background-color: #3081d0;
}

#instruction-btn:active {
  color: rgb(255, 255, 255, 0.7);
  background-color: #3081d0;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  body {
    padding: 15px;
  }

  .main-container {
    padding: 10px;
  }
}
