* {
  font-family: "Varela Round", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c5fff8;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#quiz-container {
  max-width: auto;
  height: auto;
  background-color: #96efff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
}

.question-container {
  padding: 40px 100px;
  text-align: left;
  display: none;
}

.question-container p {
  font-size: 20pt;
  margin-bottom: 35px;
  max-width: auto;
  font-weight: bolder;
}

.question-container.active {
  display: block;
}

h4 {
  text-align: center;
}

#button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px;
  margin: 10px;
  font-size: 16pt;
  cursor: pointer;

  border-radius: 25px;

  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  background-color: #5fbdff;
}

button:active {
  color: rgb(255, 255, 255, 0.7);
  background-color: #3081d0;
}

#next-btn {
  float: right;
}

#back-btn {
  float: left;
}

input {
  cursor: pointer;
}

label {
  font-size: 18pt;
}

.choice {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;

  background-color: #c5fff8;
  border-radius: 10px;
}

#summary-pane {
  position: relative;
  display: none;
  width: auto;
  height: auto;
  padding: 50px;
  background-color: #96efff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;

  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #5fbdff #96efff;
}

#summary-header {
  text-align: center;
  color: #3081d0;
  font-size: 3rem;
  font-weight: bolder;
}

.summary-question {
  font-size: 18pt;
  font-weight: bolder;
}

.summary-answer {
  font-size: 16pt;
  margin-left: 30px;
  margin-bottom: 10px;
}

.no-answer-summary {
  color: red;
}

.submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-submit-btn {
  background-color: coral;
}

#result-container {
  text-align: center;
  display: none;
  background-color: #96efff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result-header {
  font-size: 20pt;
}

#score {
  font-size: 18pt;
}

#confirmation-pane {
  text-align: center;
  display: none;
  background-color: #96efff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#confirm-yes-btn,
#confirm-no-btn {
  padding: 20px;
  width: 80px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  body {
    padding: 25px;
  }

  .question-container {
    padding: 10px;
  }

  .question-container p {
    width: auto;
    text-align: left;
    font-size: 1.2rem;
  }
  .summary-answer {
    margin-bottom: 25px;
  }

  #result-container #score {
    font-size: 12.161pt;
    font-weight: bolder;
    width: auto;
  }

  .submit-div {
    margin-bottom: 25px;
  }

  .choice {
    width: auto;
  }

  .choice label {
    font-size: 1rem;
  }

  #button-section button {
    font-size: 1rem;
  }
}
