* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Varela Round", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #c5fff8;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.main-container {
  position: relative;
  width: auto;
  height: auto;
  padding: 20px 70px;
  background-color: #96efff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;

  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #5fbdff #96efff;
}

.header-section {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0;
}

.header-section h1 {
  color: #3081d0;
  font-size: 3rem;
  margin: 0;
}

.content-section {
  text-align: left;
}

ol li {
  margin-bottom: 10px;
  font-size: 12.5pt;
}

.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

#back-btn {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  width: 200px;

  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  background-color: #6db9ef;
}

#back-btn:active {
  color: rgb(255, 255, 255, 0.7);
  background-color: #3081d0;
}

#enjoy-text,
span {
  font-weight: bold;
  font-size: 12.5pt;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .main-container {
    padding: 20px 50px;
  }
}
